* {
	margin: 0;
	padding: 0;
}
.top {
	content: '';
	background-color: #ac2aa1;
	width: 100%;
	height: 5px;
	display: block;
	position: absolute;
	background: linear-gradient(45deg, #6b15a1, #ac2aa1);
}
.container {
	padding-right: 65px;
    	padding-left: 55px;
    	margin-right: auto;
    	margin-left: auto;
    	box-sizing: border-box;
    	width: 100%;
    	height: 100%;
    	position: relative;
}

.navbar {
	background-color: #fff !important;
	border-color: #fff !important;
	margin-top: 10px;
}

.navbar-header {
	line-height: 125px;
	height: 100px;
}
.navbar-brand {
	font-family: 'Roboto';
	font-weight: 300;
	line-height: 20px;
	text-decoration: none;
	padding: 50px !important;
}

.hero-booticon {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    border: 1px solid #6b15a1;
    color: #6b15a1;
    background-color: transparent;
    margin: 0 auto 30px;
    width: ;
    height: 144px;
    font-size: 108px;
    line-height: 140px;
    display: block;
    font-weight: 500;
    text-align: center;
    cursor: default;
    border-radius: 15%;
    position: relative;
}

h1, h2 {
	margin: 20px !important;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;;
	color: inherit;
	box-sizing: border-box;
	display: block;
	text-align: center;
}

.well {
	border: 0px solid !important;
}

#movies img 
{
	height: 350px !important;
	width: 100%
}
#movie img {

	width: 100%;
}

@media (min-width:960px){
	#movies .col-md-3 .well {
		height : 420px;
	}
	#movies .col.md-3 img {
		height: 240px;
	}
}
